################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/di-warming-up/v17/Browse.VC.opendb
